{% if data.status and data.status === 'error' %}
  <div class="apos-headless-preview-widget__error">
    Error creating preview: {{ data.error.statusCode }}
  </div>
{% endif %}

{% for item in data.results %}
  <div class="apos-headless-preview-widget">
    {% set thumbnail = apos.modules['apostrophe-headless-preview-widgets'].getImageUrls(item.thumbnail) %}
    {% if thumbnail %}
      <div class="apos-headless-preview-widget__image">
        <img src="{{ thumbnail.full }}" alt="{{ item.title }}">
      </div>
    {% endif %}
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
  </div>
{% endfor %}
